/* RESETS */

html,body,main,header,footer,section,aside,div,nav,a,h1,h2,h3,h4,p,span,ul,li,figure,button,canvas {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--text-black);
  -webkit-tap-highlight-color: transparent;
}

button {
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  text-transform: none;
  cursor: pointer;
}

html,main {
  height: 100%;
}

body {
  height: auto;
  padding: 0px 50px;
  background-color: #d6d6e7;
}

body.dim , body:not(.dim) {
  transition: background-color .75s ease-in-out;
}

body.dim {
  background-color: #141414;
}

body.dim #demo-reel-section a {
  border: 1px solid #141414;
}

.main-header {
  width: 100%;
  height: 180px;
  display: grid;
  grid-template-columns: 1fr 320px;
  grid-template-rows: 100%;
}

.main-navigation {
  width: 200px;
  height: 25px;
  margin-top: 40px;
  grid-column: 2/-1;
  grid-row: 1/-1;
  justify-self: flex-end;
  /* background-color: lavender; */
}

.main-navigation ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 16px;
}

#video-demo-reel {
  width: 50%;
  padding-bottom: 50px;
}

.page-title-section {
  width: 100px;
  height: 125px;
  grid-column: 1/2;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 100%;
}

.page-number {
  width: 50px;
  height: 100%;
  grid-column: 1/2;
  grid-row: 1/-1;
  justify-self: flex-start;
  align-self: flex-start;
}

.page-title {
  width: 50px;
  height: 100%;
  padding-top: 25px;
  grid-column: 2/-1;
  grid-row: 1/-1;
}

.page-number-font {
  font-family: "Playwrite US Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 90px;
}

.page-title-font {
  font-family: "Open Sans", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 45;
  font-style: normal;
  font-size: 45px;
  /* font-variation-settings:
    "wdth" 75; */
}

#demo-reel-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case-study {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: 1px solid #8c8c8c;
  transition: border-color .75s ease-in-out;
}