#demo-reel-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video-demo-reel {
  width: 50%;
  aspect-ratio: 16/9;
  margin-bottom: 50px;
  background-color: transparent !important;
}

#demo-reel-body.dim , #demo-reel-body:not(.dim) {
  transition: background-color .75s ease-in-out;
}

#demo-reel-body.dim {
  background-color: #141414;
}

#demo-reel-body.no-cursor {
  cursor: none !important;
}

#demo-reel-body.dim header {
  opacity: 0;
  transition: all .75s ease-in-out;
  pointer-events: none;
}

#demo-reel-body.dim #demo-reel-section a {
  border: 1px solid #141414;
  opacity: 0;
  transition: all .75s ease-in-out;
  pointer-events: none;
}
