.page-title-section .page-number {
  font-size: clamp(40px, 12.5vw, 90px);
}

.page-title-section .page-title {
  font-size: clamp(24px, 6.25vw, 45px);
}

#demo-reel-body {
  height: 100dvh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 180px 1fr 100px;
  overflow: hidden;
}

.main-header {
  grid-column: 1/-1;
  grid-row: 1/2;
}

main {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0;
}

#demo-reel-section {
  width: 100%;
  height: 100%;
  max-height: 100%;
  aspect-ratio: 16/9;
  /* display: flex; */
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  justify-items: center;
}

#video-demo-reel {
  grid-column: 1/-1;
  grid-row: 1/-1;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 16/9;
  background-color: transparent !important;
}

#video-keys {
  margin-top: 5px;
  grid-column: 1/-1;
  grid-row: 1/-1;
  /* max-width: 100%;
  max-height: 100%;
  aspect-ratio: 16/9; */
  align-self: flex-start;
  color: rgb(200,200,200);
  font-size: 12px;
  pointer-events: none;
}

#video-keys span:nth-of-type(2) {
  margin: 0 calc(100dvw * .6px);
}

kbd {
  padding: 2px 4px;
  display: inline-block;
  line-height: 1;
  border-radius: 5px;
  border: 1px solid rgb(100,100,100);
  background-color: rgb(50,50,50);
}

.case-study {
  margin: 25px 0;
  grid-column: 1/-1;
  grid-row: -1/-2;
  justify-self: center;
  align-self: flex-end;
}

#demo-reel-body.dim , #demo-reel-body:not(.dim) {
  transition: background-color .75s ease-in-out;
}

#demo-reel-body.dim {
  background-color: #141414;
}

#demo-reel-body.no-cursor {
  cursor: none !important;
}

#demo-reel-body.dim header {
  opacity: 0;
  transition: all .75s ease-in-out;
  pointer-events: none;
}

#demo-reel-body.dim .case-study {
  border: 1px solid #141414;
  opacity: 0;
  transition: all .75s ease-in-out;
  pointer-events: none;
}

@media (max-width: 530px) {
  .main-header {
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
  .main-navigation {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-self: center;
  }
  .page-title-section {
    width: 50px;
    margin-top: 20px;
    margin-left: -12px;
    grid-column: 1/-1;
    grid-row: 2/3;
    justify-self: center;
    grid-template-columns: 25px 25px;
    justify-content: center;

  }
  .page-number {
    width: 25px;
  }
  .page-title {
    width: 25px;
    padding-top: 15px;
  }
}
